@using VirtualStore.Web.Core.Configurations.Enum;
@using VirtualStore.Web.Core.ViewModels;

@if (TempData.ContainsKey("message"))
{
    MessageModelView message = MessageModelView.Deserialize(TempData["message"].ToString());

    @if (message.Type == MessageType.Warning)
    {
        <div class="alert alert-warning mt-3 alert-dismissible fade show" role="alert">
            @message.Message
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    }
    else if (message.Type == MessageType.Error)
    {
        <div class="alert alert-danger mt-3 alert-dismissible fade show" role="alert">
            @message.Message
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    }
    else if (message.Type == MessageType.Information)
    {
        <div class="alert alert-info mt-3 alert-dismissible fade show" role="alert">
            @message.Message
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    }
    else
    {
        <div class="alert alert-success mt-3 alert-dismissible fade show" role="alert">
            @message.Message
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    }
}