@inject VirtualStore.Web.Core.Services.Interfaces.IUserService _userService
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@if (Context.User.Identity.IsAuthenticated)
{
    var user = await _userService.GetUserAsync(null);

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-info" href="#" role="button" data-bs-toggle="dropdown">
            Hello, <b>@user.FirstName</b>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
            <li>
                <a class="dropdown-item" asp-controller="User" asp-action="Edit">
                    Edit Profile
                </a>

                <a class="dropdown-item" asp-controller="User" asp-action="ChangePassword">
                    Change Password
                </a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <a class="dropdown-item" asp-controller="User" asp-action="Logout">Logout</a>
            </li>
        </ul>
    </li>
}
else
{
    <a class="nav-link pe-0" asp-controller="User" asp-action="Login">Login</a>
}
